<h2>予定表</h2>

<button type="button" class="btn-sm btn-primary" data-toggle="modal" data-target="#newEvent">予定を追加</button>

<table class="table">
  <thead class="thead-light">
    <th scope="col">タイトル</th>
    <th scope="col">開始</th>
    <th scope="col">終了</th>
    <th scope="col">場所</th>
  </thead>
  <tbody>
    {{#each events}}
      <tr>
        <td>{{this.subject}}</td>
        <td>{{this.start.dateTimeLocal}}</td>
        <td>{{this.end.dateTimeLocal}}</td>
        <td>{{this.location.displayName}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>

{{> new_event }}
