<h2>連絡先</h2>
<table class="table">
  <thead class="thead-light">
    <th scope="col">氏名</th>
    <th scope="col">メールアドレス</th>
  </thead>
  <tbody>
    {{#each contacts}}
      <tr>
        <td>{{this.surname}} {{this.givenName}}</td>
        <td>
          <ul class="list-unstyled">
            {{#each this.emailAddresses}}
              <li class="border p-1">
                {{this.address}}
              </li>
            {{/each}}
          </ul>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>